@model IEnumerable<CURDOperationWithImageUploadCore5_Demo.Models.Speaker>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center text-uppercase">list of speakers</h3>

<p>
    <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i> Add New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProfilePicture)</th>
            <th>@Html.DisplayNameFor(model => model.SpeakerName)</th>
            <th>@Html.DisplayNameFor(model => model.Qualification)</th>
            <th>@Html.DisplayNameFor(model => model.Experience)</th>
            <th>@Html.DisplayNameFor(model => model.SpeakingDate)</th>
            <th>@Html.DisplayNameFor(model => model.SpeakingTime)</th>
            <th>@Html.DisplayNameFor(model => model.Venue)</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@FileLocation.RetriveFileFromFolder@item.ProfilePicture" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
                    </a>
                </td>
                <td>@item.SpeakerName</td>
                <td>@item.Qualification</td>
                <td>@item.Experience</td>
                <td>@item.SpeakingDate.ToString("dd-MM-yyyy")</td>
                <td>@item.SpeakingTime.ToString("H:mm")</td>
                <td>@item.Venue</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info rounded-0"><i class="fa fa-pencil-alt"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger rounded-0"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
